<!DOCTYPE html>
<html>
<head>
    <title>Transparent Login Form Design</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login.css'%}">
       
</head>

<body>
    <div class="about-section">
        <div class="inner-container">
            <h2 style="text-align: center;">About Us</h2>
            <center>
                <h1>Welcome to our Crop Prediction System!</h1>
                <p>Our advanced crop prediction system utilizes cutting-edge machine learning algorithms to forecast the most suitable crops for your agricultural land. By analyzing various factors such as soil type, climate conditions, historical crop data, and geographic location, our system provides accurate predictions to optimize your farming decisions.</p>

        <p>With our user-friendly interface, you can input relevant information about your land and receive personalized recommendations for the best crops to cultivate. Whether you're a seasoned farmer or new to agriculture, our system empowers you to make informed choices and maximize your yield potential.</p>
                
        <li>Precise Crop Recommendations: Receive tailored suggestions based on comprehensive analysis of soil properties, weather patterns, and regional agricultural trends.</li>
            <li>Seasonal Variability: Adapt to changing seasons and climate fluctuations with dynamic crop recommendations updated in real-time.</li>
            <li>Yield Estimation: Estimate potential crop yields to plan resources and maximize productivity.</li>
            <li>Historical Insights: Access historical data to understand crop performance over time and make data-driven decisions for future seasons.</li>
            <li>Sustainability Focus: Embrace sustainable farming practices by selecting crops that promote soil health, water conservation, and biodiversity.</li>
        
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
            </center>
        </div>
    </div>
</body>
</html>
