<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link
      rel="stylesheet"
      href="/Crop-Recommendation-System/green/static/Homepage.css"
    />
  </head>
  <body>
    <nav>
      <div class="menu">
        <div class="logo">
          <a href="/Crop-Recommendation-System/green/templates/afilter.html"
            >CropRecommendation <span class="highlight">System</span></a
          >
        </div>
        <ul>
          <li>
            <a href="/Crop-Recommendation-System/green/templates/index.html"
              >Home</a
            >
          </li>
          <li>
            <a href="/Crop-Recommendation-System/green/templates/about.html"
              >About</a
            >
          </li>
          <li><a href="#">Contact</a></li>
          <li>
            <a href="/Crop-Recommendation-System/green/templates/login.html"
              >Login</a
            >
          </li>
          <li>
            <a href="/Crop-Recommendation-System/green/templates/signup.html"
              >Signup</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class="img"></div>
    <div class="center">
      <div class="title">Contact Us</div>
      <br />
      <div class="sub_title">Get in touch with us...</div>
      <div class="btns"></div>
    </div>
  </body>
</html>
